$background-color: #ffee00 !default;
$border-color: #333;

@font-face {
  font-family: Cinzel;
  src: url(fonts/Cinzel/Cinzel-Regular.otf);
}

@font-face {
  font-family: Mirage;
  src: url(fonts/Mirage/Mirage-Medium.otf);
}