@use "config";

main {
    background-color: config.$background-color;
    display: block;
    margin: 0 auto;
    border: 2px solid config.$border-color;
    overflow: hidden;
}

#logo {
    width: 200px;
    left: 20px;
    top: 20px;
}

#background {
    background-image: url("img/paris.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
body {
    padding: 0;
    margin: 0;
}

#website {
    background-color: #FFFFFF;
    display: block;
    width: 700px;
    position: fixed;
}

#OOPgame-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  background-image: url("../img/paris.png");
}

#OOPplayer {
  pointer-events: auto;  
  &.hit {
    border: 1px solid yellow;;
  }
}

.block {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
}

.OOPtriangle {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid red;
}

#OOPline{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    border: 2px solid black;
    background-color: black;
}